<template>


                <draggable class="drag-area" :list="docs" :options="{animation:200, group:'status'}" :element="'article'" @change="update" v-on:click.native="onClick($event)">
                    <article class="card" v-for="(task, index) in sortedArray" :key="task.id" :data-id="task.id" >

                            <div  class="drage_element card-header "><h5 class="btn-link">{{ task.title_de }}</h5></div>

                    </article>
                </draggable>


</template>

<script>
    import draggable from 'vuedraggable'



    export default {
        components: {
            draggable
        },
        props: ['docs'],
        data() {
            return {
                docs: this.docs,
            }
        },


        methods: {
            onClick(event){
                let id = event.target.offsetParent.getAttribute("data-id");
                console.log(event.target);
                if (id != null){


                    window.open('/admin/document/'+id+'/details',"_self");
                }

            },

            update() {
                this.docs.map((task, index) => {
                    task.order = index + 1;
                    task.placement=task.order;
                });



                let tasks = this.docs

                axios.put('/admin/document/updateAll', {
                    tasks: tasks
                }).then((response) => {
                    console.log(response.data);

                }).catch((error) => {
                    console.log(error);
                })
            }

        },
        computed: {
            sortedArray: function() {
                function compare(a, b) {
                    if (a.placement < b.placement)
                        return -1;
                    if (a.placement > b.placement)
                        return 1;
                    return 0;
                }

                return this.docs.sort(compare);
            }
        }
    }
</script>

<style>

    .drage_element {

        cursor: grab;
    }

    .btn-link{
        cursor: pointer;
    }
    .drage_element:hover {
        background-color: #FFFFFF;
    }
    .drag-area{
        min-height: 10px;
    }
</style>
